<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="./ミヤモンチャップリン.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>miyamonのサイト</title>
		
		<!-- Open Graph Protocol メタタグ -->
		<meta property="og:title" content="miyamonのサイト" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://miyamonsite2.vercel.app/" />
		<meta property="og:image" content="./ミヤモンチャップリン.png" />
		<meta property="og:description" content="Miyamonのポートフォリオサイトです。自身のプロフィール、活動実績、記事などをまとめています。" />
		<meta property="og:site_name" content="miyamonのサイト" />
		
		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@Miyamon86961177" />
	</head>
	<body>
			<slot />
	</body>
</html>
