---
const topMusic = [
  { title: "バッハの旋律を夜に聴いたせいです。", artist: "サカナクション", spotifyLink: "https://open.spotify.com/intl-ja/track/6Zmg9q5eSK3ROwDnP6Qm4j?si=876a27db251d4489" },
  { title: "Fine On The Outside", artist: "プリシラ・アーン", spotifyLink: "https://open.spotify.com/intl-ja/track/4kUmFYCaA1cD0JUrv7ETix?si=3f919b97f6da47bc" },
  { title: "風を食む", artist: "ヨルシカ", spotifyLink: "https://open.spotify.com/intl-ja/track/68OYaxreTGmAuD9cAztr2p?si=090ee156784c4045" },
  { title: "サウザンド・マイルズ", artist: "ヴァネッサ・カールトン", spotifyLink: "https://open.spotify.com/track/4w1lzcaoZ1IC2K5TwjalRP" },
  { title: "モッキンバード", artist: "エミネム", spotifyLink: "https://open.spotify.com/track/561jH07mF1jHuk7KlaeF0s" },
];
---

<ul class="top-music-list">
  {topMusic.map((song) => (
    <li>
      <a href={song.spotifyLink} target="_blank" rel="noopener noreferrer" class="song-link">
        <span class="song-title">{song.title}</span> - <span class="artist-name">{song.artist}</span>
      </a>
    </li>
  ))}
</ul>

<style>
  .top-music-list {
    list-style-type: none;
    padding: 0;
  }

  .top-music-list li {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 12px;
    border-radius: 5px;
    
  }

  .song-title {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .artist-name {
    font-style: italic;
  }

  .song-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .song-link:hover .song-title {
    color: #3498db; /* Spotifyの緑色 */
  }
</style>
