---
const topArtist = [
  {
    title: "さよならはエモーション",
    artist: "サカナクション",
    spotifyLink:
      "https://www.youtube.com/watch?v=87wf45zW5NA&list=RD87wf45zW5NA&start_radio=1",
  },
  {
    title: "B-Cuz",
    artist: "澤野弘之 / SawanoHiroyuki[nZk]",
    spotifyLink:
      "https://www.youtube.com/watch?v=hQ43rtlpoDY&list=RDhQ43rtlpoDY&start_radio=1",
  },
  {
    title: "風を食む",
    artist: "ヨルシカ",
    spotifyLink:
      "https://www.youtube.com/watch?v=GVrRXhS0mLs&list=RDGVrRXhS0mLs&start_radio=1",
  },
  {
    title: "アイアンバイブル",
    artist: "Radwimps",
    spotifyLink:
      "https://www.youtube.com/watch?v=D4Cr1TUAvPY&list=RDD4Cr1TUAvPY&start_radio=1",
  },
  {
    title: "モッキンバード",
    artist: "エミネム",
    spotifyLink: "https://www.youtube.com/watch?v=S9bCLPwzSC0&list=RDS9bCLPwzSC0&start_radio=1",
  },
];
---

<ul class="top-music-list">
  {
    topArtist.map((song) => (
      <li>
        <a
          href={song.spotifyLink}
          target="_blank"
          rel="noopener noreferrer"
          class="song-link"
        >
          <span class="song-title">{song.title}</span> -{" "}
          <span class="artist-name">{song.artist}</span>
        </a>
      </li>
    ))
  }
</ul>

<style>
  .top-music-list {
    list-style-type: none;
    padding: 0;
  }

  .top-music-list li {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 12px;
    border-radius: 5px;
  }

  .song-title {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .artist-name {
    font-style: italic;
  }

  .song-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .song-link:hover .song-title {
    color: #3498db; /* Spotifyの緑色 */
  }
</style>
